@import './header';



:root{
    --accent-color: #2196F3;
}

body{
    font-family: 'roboto', 'relewey', sans-serif;
    color: #212121;
    background-color: #FFFFFF;
}



img {
    display: block;
}


/* --------------UNIVERSAL CLASSES------------ */

.container {
    width: 1200px;
    padding: 0 15px;
    margin-left: auto;
    margin-right: auto;
    /* outline: 2px solid tomato; */
}

.link{
    text-decoration: none;
}

.list{
    list-style: none;
}

.btn {
display: inline-block;
padding: 6px 22px;
text-align: center;
cursor: pointer;
border: 1px solid transparent;
background: #F5F4FA;
border-radius: 4px;

font-weight: 500;
font-size: 16px;
line-height: 1.62;
letter-spacing: 0.03em;

transition-property: background-color, color, box-shadow, border-radius;
transition-duration: 250ms;
transition-timing-function: linear;


}

.btn:hover,
.btn:focus {
    background-color: #2196F3;
    color: #FFFFFF;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    overflow: hidden;
}

.title{
font-weight: 700;
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;
}

.items{
font-size: 16px;
line-height: 1.88;
letter-spacing: 0.03em;
color: #757575;
}

/* --------------HEADER------------ */



/* --------------OUR-WORKS------------ */



.works-container {
    margin-top: 95px;
}

.work-list {
    display: flex;
    justify-content: center;
    
}

.work-list .btn-works:not(:last-child) {
    margin-right: 10px;
}



/* --------------PORTFOLIO------------ */



.portfolio-container{
    padding-top: 35px;
    padding-bottom: 95px;
}



.portfolio-list {
    display: flex;
    flex-wrap: wrap;
}

.portfolio-list .portfolio-name:not(:last-child){
    margin-right: 27px;
}


.portfolio-name{
    
    background-color: #FFFFFF;

    transition-property: border, box-shadow;
    transition-duration: 250ms;
    transition-timing-function: linear;

}

.portfolio-name > .border
{
    padding-top: 20px;
    border-bottom: 1px solid #EEEEEE;
    border-left: 1px solid #EEEEEE;
    border-right: 1px solid #EEEEEE;
    
}

.portfolio-name:hover,
.portfolio-name:focus{
border: 1px solid #EEEEEE;
box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}




.portfolio-list:not(:last-child) {
    margin-bottom: 30px;
}

.img-thumb{
    position: relative;
    overflow: hidden;
}

.img-text{
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    font-weight: 400;
font-size: 18px;
line-height: 1.56;
letter-spacing: 0.03em;
color: #FFFFFF;
background-color: rgba(33, 150, 243, 0.9);
padding: 63px 24px;

transform: translateY(100%);
transition-property: transform;
transition-duration: 250ms;
transition-timing-function: linear;
}

.img-thumb:hover .img-text{
    transform: translateY(0%);
}


.portfolio-title{
    display: flex;
    margin-left: 25px;
    margin-right: auto;
    margin-bottom: 5px;
}
.portfolio-items{
    display: flex;
    margin-left: 25px;
    margin-right: auto;
    margin-bottom: 20px;

}


/* --------------FOOTER------------ */


.footer{
    background-color: #2F303A;
    
}

.footer-containner{
    padding-top: 60px;
    padding-bottom: 60px;
    display: flex;
    align-items: baseline;
}

.address{
    display: flex;
    align-items: baseline;
}

.address-list{
    margin-right: 70px;
}

.footer-logo {
display: block;
margin-bottom: 30px;


font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;
color: #FFFFFF;
}

.footer-logo > span {
color: #2196F3;
}

 .footer-item {
    
        font-style: normal;
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
        color: rgba(255, 255, 255, 0.6);
    }

    .footer-contact:not(:last-child){
        margin-bottom: 10px;
    }

.address-contact {
        color: #FFFFFF;
        }

        .footer-soc{
            display: flex;
            flex-wrap: wrap;
            max-width: 206px;
        }
        
        .footer-title{
        min-width: 206px;
        margin-bottom: 20px;
        
        font-style: normal;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #FFFFFF;
        
        }
        
        
        .footer-soc-items{
        
        text-align: center;
            width: 44px;
            height: 44px;
            
        }
        
        .footer-soc-items:not(:last-child){
            margin-right: 10px;
        }
        
        .footer-soc-link {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            background-color: rgba(255, 255, 255, 0.1);;
            color: #FFFFFF;
            transition-property: background-color;
            transition-duration: 250ms;
            transition-timing-function: linear;
            
        }
        
        .footer-soc-link:hover {
            background-color: #2196F3;
        }
        .footer-soc-icons {
            fill: currentColor;
        }


        .footer-form-join{
            margin-left: auto;
            margin-right: 0;
            
        }

        
        .footer-form-text {
            
            font-size: 14px;
            line-height: 16px;
            letter-spacing: 0.03em;
            text-transform: uppercase;
            color: #FFFFFF;
        }
        
        .footer-input-btn{
            display: flex;
        }
        
        .footer-form-input {
            width: 360px;
            height: 50px;
            border: 1px solid rgba(255, 255, 255, 0.3);
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
        border-radius: 4px;
        background-color: #2F303A;
        padding-left: 16px;
        color: #FFFFFF;
        margin-right: 12px;
        transition-property: border-color;
        transition-duration: 250ms;
        transition-timing-function: linear;
        }
        
        .footer-form-input:hover,
        .footer-form-input:focus{
            outline: transparent;
            border-color: var(--accent-color);
        }
        
        
        
        .footer-form-input::placeholder{
            font-weight: 400;
            font-size: 16px;
            line-height: 1.25;
            display: flex;
            align-items: center;
            letter-spacing: 0.03em;
            color: rgba(255, 255, 255, 0.6);
            }
        
        .footer-label{
            margin-bottom: 20px;
        }
        
        .footer-btn {
            padding: 10px 28px 10px 28px;
            background-color: var(--accent-color);
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        border: transparent;
        cursor: pointer;
        
            font-weight: 700;
        font-size: 16px;
        line-height: 1.88;
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 0.06em;
        color: #FFFFFF;
        
        }
        
        .icon-send {
            margin-left: 10px;
            height: 24px;
            width: 24px;
            fill: #FFFFFF;
        }
        